# === Global Ignore ===
gitignore

# Log files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
cemilque-frontend/node_modules
cemilque-backend/node_modules
cemilque-frontend/.env
cemilque-backend/.env

# Build outputs
dist
dist-ssr
*.local

# Editor & OS files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db
ehthumbs.db
